:root {
    --blue: blue;
    --lightBlue: lightblue;
    --darkBlue: darkblue;
    --steelBlue: steelblue;
    --grayBlue: #cddeee;
    --white: #ffffff;
    --yellow: yellow;
}

body {
    font-family: 'Roboto Slab', serif !important;
    background-color: var(--grayBlue) !important;
    color: var(--mainDark) !important;
}

.c-darkblue {
    color: var(--darkBlue);
    transition: color .2s linear;
}
.c-darkblue:hover {color: var(--white) !important}

.c-pointer {cursor: pointer;}

.btn-black {
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem !important;
    color: var(--darkBlue);
    border-radius: 0 !important;
    border: 0.1rem solid var(--darkBlue) !important;
}

.btn-black:hover {
    background: var(--darkBlue) !important;
    color: var(--white) !important;
}

.cart-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--yellow);
}